<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of cards</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
</head>
<body>
	<div>
		<form th:object="${question}" th:action="@{saveQuest}" action="#" method="post">
		  	<label for="title">Your question</label>
			<input class="form-control" type="text" id="fname" th:field="{}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<input class="btn btn-success" type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>